<div class="jumbotron">
  <div class="container">
    <h1>Public Wikis</h1>
    <h2>Behold, the grand stockpile of public wikis!</h2>
    <h4><%= link_to "Create a New Wiki", new_wiki_path %>
  </div> <!-- container -->
</div> <!-- jumbotron -->

<div class="container">
  <div class="custom-well col-sm-8 col-sm-push-2">
    <h2 class="text-center"><%= pluralize(@wikis.count, 'Public Wiki') %></h2>
    <table style="width:100%">
      <% @wikis.each do |wiki| %>
        <tr>
          <td><%= link_to wiki.title, wiki_path(wiki) %></td>
          <td><%= link_to "Edit", wiki_path(wiki) %></td>
          <% if wiki.user_id == current_user.id %>
            <td><%= link_to "Delete", wiki_path(wiki), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </table>

  </div> <!-- well -->
</div> <!-- container -->
